.ds-global-navigation-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: var(--size-15);
  padding: var(--spacing-8) var(--spacing-24);
  background: var(--background-surface-primary);
}

.ds-global-navigation-bar__item {
  position: relative;
  display: flex;
  flex: 1 0 0;
  min-width: 0;
  height: 44px;
  overflow: clip;
}

.ds-global-navigation-bar__item-inner {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-4);
  height: 44px;
}

.ds-global-navigation-bar__icon-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 24px;
  padding: var(--spacing-2);
  color: var(--icon-secondary);
}

.ds-global-navigation-bar__icon {
  width: 20px;
  height: 20px;
  display: block;
}

.ds-global-navigation-bar__icon--inline {
  color: inherit;
}

.ds-global-navigation-bar__icon--inline svg {
  display: block;
  width: 100%;
  height: 100%;
}

.ds-global-navigation-bar__item[data-state="active"] .ds-global-navigation-bar__icon-slot {
  color: var(--icon-brand);
}

.ds-global-navigation-bar__label {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-secondary);
  font-family: var(--font-families-asta-sans), sans-serif;
  font-size: var(--font-size-1);
  font-weight: 600;
  line-height: var(--line-height-2);
  text-align: center;
}

.ds-global-navigation-bar__item[data-state="active"] .ds-global-navigation-bar__label {
  color: var(--text-brand);
}

.ds-global-navigation-bar__dot-badge {
  position: absolute;
  left: calc(50% + 9px);
  top: calc(50% - 19px);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: var(--spacing-6);
}

.ds-global-navigation-bar__dot,
.ds-global-navigation-bar__dot-asset {
  width: 4px;
  height: 4px;
  display: block;
}

.ds-global-navigation-bar__dot {
  border-radius: 999px;
  background: var(--badge-background-dot);
}
