.ds-diag-action-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-24);
  width: 360px;
  height: 324px;
  padding: var(--spacing-24);
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  background: var(--background-surface-primary);
}

.ds-diag-action-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 211px;
  text-align: center;
}

.ds-diag-action-card__title {
  color: var(--text-primary);
  font-family: var(--font-families-asta-sans), sans-serif;
  font-size: var(--font-size-5);
  font-weight: 700;
  line-height: var(--line-height-5);
}

.ds-diag-action-card__description {
  color: var(--text-secondary);
  font-family: var(--font-families-asta-sans), sans-serif;
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: var(--line-height-2);
}

.ds-diag-action-card__image {
  width: 246px;
  height: 128px;
  object-fit: contain;
}
